svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #eee;
  stroke-opacity: .4;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-opacity: .6;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

.tooltip {   
    background-color: rgba(255, 255, 255, 0.76);
    color: #333;
    margin: 10px;
    height: 25px;
    padding-right: 10px;
    padding-left: 10px; 
    padding-top: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
    

.foreground path.inactive {
  fill: none;
  stroke: steelblue;
  stroke-opacity: .1;
  shape-rendering: crispEdges;
}
    
.foreground path.highlight {
  fill: none;
  stroke: steelblue;
  stroke-opacity: .8;
  stroke-width: 4;
  shape-rendering: crispEdges;
}